<div >
    <img  style="display:block;margin-left: auto;margin-right: auto; margin-top: 2rem;border-radius: 1rem;" src="/assets/logo/oops.jpg" alt="Something is wrong" srcset="">
    <h3 style="display:flex;color:white;margin-left: 600px;margin-top: -80px;font-family: 'Lucida Console', Courier, monospace;">{{statusText}}</h3>
    <button style="display:block;margin-left: auto;margin-right: auto; margin-top: 6rem;" [routerLink]="['/']" src="/assets/logo/oops.jpg" class="btn btn-sm btn-outline-danger"><i class="fa fa-home"></i>Home</button>
</div>

