li{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .links,.form-inline{
    display: flex;
    margin-top: 20px;
  }
  .dropdown-menu{
    border: none;
    box-shadow: .5rem .5rem 1rem black;
  }
  
  #navbarSupportedContent > ul > li.nav-item.dropdown.text-white.show > div > a:hover,#navbarSupportedContent > div > ul > li.nav-item.dropdown.text-white.show > div > a:hover,#content > ul.navbar-nav.mr-auto > li > div > a:hover,#content > ul:nth-child(2) > li > div > a:hover{
    background-color: #343a40;
    color: white;
  }
  