<div [ngStyle]="{marginTop:'4rem'}" class="animate__animated animate__fadeIn">
    <h3>Products In Cart :</h3><hr/>
    <div *ngIf="isLoading;else dataBlock">
        <i class="fa fa-spinner fa-spin" [ngStyle]="{position:'absolute',top:'50%',left:'50%',fontSize:'15px'}"></i>
    </div>
    <ng-template #dataBlock>
    <div class="row" *ngIf="cartData!=null&&cartData.length>0;else elseBlock">
                    <div *ngFor="let item of cartData" class="col-md-4 mt-4">
                        <div  class="card" [ngStyle]="{width: '18rem',minHeight:'385px',overflow:'hidden',border:'1px solid white',boxShadow:'.5rem .5rem 1rem black'}">
                            <i class="fa fa-times text-danger" (click)="handleDelete(item.cart_id)" [ngStyle]="{display:'flex',marginTop:'.5rem',marginLeft:'16rem',cursor:'pointer'}"></i>
                            <img class="card-img-top" [ngStyle]="{height:'100px',width:'100px',display:'block',marginLeft:'auto',marginRight:'auto',marginTop:'2rem'}" src="{{'/assets/productImages/'+item.images[0]}}"  alt="Card image cap"/>
                            <div class="card-body">
                                <h5 class="card-title">{{item.productname}}</h5>
                                <small class="badge badge-info">{{item.brand}}</small>
                                <small class="badge badge-info ml-2">{{item.category}}</small><br/>
                                <span *ngIf="item.discount==0;else elseOrder" [ngStyle]="{marginLeft:'1rem',fontSize:'20px',fontWeight:'700'}">&#8377;{{item.rate}}</span>
                                <ng-template #elseOrder><span [ngStyle]="{marginLeft:'1rem',fontSize:'20px',fontWeight:'700'}">&#8377;{{item.rate-item.discount}}</span><span><small [ngStyle]="{color:'grey',textDecoration:'line-through',marginLeft:'.5rem'}">&#8377;{{item.rate}}</small><strong class="badge badge-success ml-3">{{(((item.discount)/item.rate)*100).toFixed(2)}}% off</strong></span></ng-template>  
                                <div [ngStyle]="{marginLeft:'40%',marginRight:'40%',marginTop:'1rem'}">
                                    <button (click)="handleCart(item)" class="btn btn-outline-primary">Buy</button>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
    <ng-template #elseBlock>
        <img [ngStyle]="{marginTop:'2rem',display:'block',width:'40%',marginLeft:'auto',marginRight:'auto'}" src='/assets/logo/emptyCart.png'/>
    </ng-template>
    </ng-template>
</div>