<div *ngIf="isLoading;else elseBlockdata">
    <i class="fa fa-spinner fa-spin" [ngStyle]="{position:'absolute',top:'50%',left:'50%'}"></i>
</div>

<ng-template #elseBlockdata>
    <div class="mt-3">
        <h4 [ngStyle]="{marginBottom:'2rem'}">All Products:<span class="float-right"><a class="btn btn-primary" [routerLink]="['/admin/addProducts']"><i class="fa fa-plus"></i> Add Products</a></span></h4>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Category</th>
                <th scope="col">Rate</th>
                <th scope="col">Discount</th>
                <th scope="col">Description</th>
                <th scope="col">RelatedImages</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products;index as i">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.productname}}</td>
                        <td>{{item.brand}}</td>
                        <td>{{item.category}}</td>
                        <td>&#8377;{{item.rate}}</td>
                        <td>&#8377;{{item.discount}}</td>
                        <td>
                            <p [ngStyle]="{maxHeight:'100px',width:'300px',overflow:'hidden',textOverflow:'ellipsis'}">
                            {{item.description}}
                            </p><span [ngStyle]="{display:'flex',marginTop:'-25px'}">...</span>
                        </td>
                        <td><img height="40" *ngFor="let image of item.images" width="40" [ngStyle]="{margin:'.2rem'}" src="{{'/assets/productImages/'+image}}"/></td>
                        </tr> 
            </tbody>
        </table>
    </div>
</ng-template>